
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>İLETİŞİM</h2>


<head>
    <link rel="stylesheet" href="~/Dosyalar1/iletisim.css">
</head>
<body>
    <div class="box">
        <img src="~/Dosyalar1/profile.jpeg" alt="" class="box-img">
        <h1>
            Furkan Ziya ILIKKAN
        </h1>
        <h5>
            MV5 Projesi
        </h5>
        <p>
            Bu proje basit bir öğrenci bilgi sistemi için tasarlanmıştır.Kesinlikle ticari bir amacı yoktur
        </p>
        <br />
        <h3>
            furkan97@hotmail.com
        </h3>
    </div>
</body>


